# -------
# Modules
# -------

# Sets sane Zsh built-in environment options.
zmodule environment
zmodule input
zmodule utility
#
# Prompt
#
# A customizable version of steeef's prompt theme.
zmodule minimal2 
# Additional completion definitions for Zsh.
#zmodule zsh-users/zsh-completions
zmodule completion
# zsh-users/zsh-syntax-highlighting must be sourced after completion
zmodule zsh-users/zsh-syntax-highlighting
# Fish-like history search (up arrow) for Zsh.
# zsh-users/zsh-history-substring-search must be sourced after zsh-users/zsh-syntax-highlighting
zmodule zsh-users/zsh-history-substring-search
zmodule archive 


###################
# MODULE SETTINGS #
###################
ztermtitle='%n@%m:%~'

zinput_mode='vi'


